__pycache__/*
.ipynb_checkpoints
.DS_Store
ja/*
ja.zip
latest-ja-word2vec-gensim-model.zip
latest-ja-word2vec-gensim-model/*
jawiki_20180420_300d.txt
jawiki_20180420_100d.txt
NotoSansCJKjp-hinted/*
!NotoSansCJKjp-hinted/NotoSansCJKjp-Light.otf
